---
import BaseLayout from "@layouts/BaseLayout.astro"
import ImageSwiper from "@components/ImageSwiper"

import { formatDate } from '@utils/commonUtil'

import type { ImageBoxOpt, imageType } from "@type/common"

import '@styles/global.min.css'
import '@styles/notes.min.css'
import Comments from "@components/Comment"
import ImageBox from "@components/ImageBox.astro"
import { GISCUS_CONF } from "@config"

const { frontmatter } = Astro.props
const imageList: imageType[] = Astro.props.frontmatter.images || [];

const options: ImageBoxOpt = {
   width: 360,
   height: 360,
   gap: 5,
}
---
<BaseLayout 
    title={frontmatter.title} 
    description={ frontmatter.description }>
    <div class="md-wrapper">
        <section class="md-header">
            { frontmatter.title != '' ? <h1 class="md-title">{frontmatter.title}</h1> : '' }
            <span class="md-time">{ formatDate(frontmatter.pubDate) }</span>
            { frontmatter.image?.url ? <img src={frontmatter.image.url} height="150" alt={frontmatter.image.alt} /> : '' }
        </section>
        
        <section class="md-content">
            <slot />
        </section>

        {
            frontmatter.imgWrapper == 'SWIPER' 
            ? (<ImageSwiper images={imageList} client:only/>)
            : (<ImageBox images={imageList} options={ options } /> )
        }

        <div class="md-comment">
            {
                frontmatter.openComm 
                ? <Comments options={{ ...GISCUS_CONF, showTopReactions:"1" }} client:only="react" /> 
                : ""
            }
        </div>
    
    </div>

</BaseLayout>

<style lang="scss">
    // markdown 布局样式
    .md-wrapper {
        position: relative;
        padding: 0 0 40px;
        min-height: calc(100vh - 400px);
        // markdown 文档首部
        .md-header { 
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .md-time {
                margin-top: 20px;
                position: relative;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 1px;
                text-align: center;
                color: var(--fontcolor3);
            }
            .md-title {
                margin-top: 40px;
                font-size: 38px;
                text-align: center;
                color: var(--fontcolor1);
                text-shadow: 2px 2px 0 rgba(0, 0, 0, .15);
            }
            img {
                margin: 10px 0 0;
                display: block;
                height: 150px;
            }
        }
        .md-content {
            p {
                text-indent: 32px;
            }
        }
        // markdown 文档底部
        .md-footer {
            padding: 0 0 0;
            position: absolute;
            left: 50%;
            bottom: 28px;
            width: 100%;
            transform: translateX(-50%);
            box-sizing: border-box;
            .md-footer-cont {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 0 16px 0;
                border-left: 3px solid var(--fontcolor3);
                border-right: 3px solid var(--fontcolor3);
                background-color: var(--body-bgcolor);
                box-sizing: border-box;
                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-indent: 0;
                    font-size: 14px;
                    line-height: 36px;
                    color: var(--fontcolor2);
                    vertical-align: middle;
                    flex-wrap: wrap;
                    a {
                        margin: 0 6px;
                        font-size: 14px;
                        color: var(--main-color);
                        text-decoration: underline;
                    }
                }
            }

        }
    }

    .md-comment {
        padding: 40px 0 0;
    }
    
    html.dark {
        .md-wrapper {
            .bottom-contr {
                .to-top {
                    .icon {
                        filter: invert(100%) sepia(7%) saturate(571%) hue-rotate(1deg) brightness(116%) contrast(87%);
                    }
                }
            }
        }
    }


    // 移动端or小屏适配
    @media screen and (max-width: 786px) {
        .md-wrapper {
            padding: 0 4px 90px;
            .md-header {
                padding: 0 6px;
                .md-time {
                    &::before {
                        left: -22vw;
                        width: 20vw;
                    }
                    &::after {
                        right: -22vw;
                        width: 20vw;
                    }
                }
            }
            .md-footer {
                padding: 0 6px 0;
                .md-footer-cont {
                    padding: 10px 16px 10px;
                    flex-direction: column;  
                    div {
                        line-height: 28px;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1400px) {
        .md-wrapper {
            .bottom-contr {
                .bottom-catalogs {
                    order: 1;
                    opacity: 0 !important;
                    pointer-events: none;
                }
            }
        }
    }
</style>