---
import BaseLayout from "@layouts/BaseLayout.astro"
import Catalogs from "@components/Catalogs.astro"

import { formatDate } from '@utils/dateUtil'

import '@styles/global.min.css'

const { frontmatter , headings} = Astro.props

---

<BaseLayout title={frontmatter.title}>
    <div class="md-wrapper">
        <section class="md-header">
            
    
            <h1 class="md-title"> {frontmatter.title}</h1>
            <p class="md-time">{ formatDate(frontmatter.pubDate).slice(0,10)}</p>
    
            { frontmatter.image.url ? <img src={frontmatter.image.url} height="150" alt={frontmatter.image.alt} /> : '' }
    
            <Catalogs headings={ headings }/>
    
        </section>
    
        
        <section class="md-content">
            <p><em>{frontmatter.description}</em></p>
            <slot />
            <!-- <p>Written by: {frontmatter.author}</p> -->
    
            <!-- <Catalogs  headings={ headings }/> -->
            
        </section>
    
        <section class="md-footer">
            <div class="md-footer-cont">
                <div>Written by: {frontmatter.author}</div>
                <div>
                    归类于
                    {
                        frontmatter.tags.map((tag:string) => {
                            return (<a href={'/MyBlog/tags/' + tag} target="_blank">{ tag }</a>)
                        })
                    }
                    相关
                </div>
            </div>
        </section>
    </div>
</BaseLayout>
