---
import BaseLayout from "./BaseLayout.astro"
import Catalogs from "../components/Catalogs.astro"

import '../styles/global.min.css'

const { frontmatter , headings} = Astro.props

---

<BaseLayout title={frontmatter.title}>

    
    <section class="md-header">
        <p class="md-time">{frontmatter.pubDate.toString().slice(0,10)}</p>

        <h1 class="md-title"> {frontmatter.title}</h1>

        { frontmatter.image ? <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} /> : '' }

        <Catalogs headings={ headings }/>
    </section>

    
    <section class="md-content">
        <p><em>{frontmatter.description}</em></p>
        <slot />
        <p>Written by: {frontmatter.author}</p>

        <!-- <Catalogs  headings={ headings }/> -->
    </section>
    
    

</BaseLayout>

